extends layout

block content
  section.hero.is-fullheight.is-dark.is-bold
    .hero-head
      .container
        nav.nav
          .container
            .nav-left
              a.nav-item(href='/')
                img(src='../images/bulma-white.png', alt='Description')
            span.nav-toggle
              span
              span
              span
            .nav-right.nav-menu
              a.nav-item(href='/')
                | Home
              a.nav-item(href='/departments')
                | Departments
              a.nav-item.is-active(href='/departments/addnew')
                | Add Data
    .hero-body
      .container
        .columns.is-vcentered
          .column.is-4.is-offset-4
            h1.title
              | Add Data
            .box
              form(method="POST", action="/departments/addnew")
                label.label Department Name
                p.control
                  input.input(type="text", placeholder="Department Name", name="dep_name" )
                label.label Abbreviation
                p.control
                  input.input(type="text", placeholder="Abbreviation", name="abbrv" )
                label.label Secretary/Head
                p.control
                  input.input(type="text", placeholder="Secretary/Head", name="head" )
                label.label Official Website
                p.control
                  input.input(type="url", placeholder="Official Website", name="website" )
                label.label Contact Number
                p.control
                  input.input(type="value", placeholder="Contact Number", name="contact" )
                label.label Facebook
                p.control
                  input.input(type="text", placeholder="Facebook", name="fb" )
                label.label Twitter
                p.control
                  input.input(type="text", placeholder="Twitter", name="tw" )
                p.control
                  button.is-dark(type="submit") Submit
  include footer
